#home {
  position: relative;
  background: url('@presentation/assets/images/destaque.jpg') no-repeat center center/cover fixed;
  
  &:before {
    content: '';
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .meta-info {
    position: relative;
    z-index: 2;

    img {
      width: 300px;
      max-width: 100%;
      margin-bottom: 1em;  
    }
  
    h1 {
      font-size: 3em;
      margin: 0;
      padding: 0;
      color: #f0f0f0;
    }
  }

  .line {
    width: 1px;
    height: 100vh;
    position: absolute;
    top: 0px;
    z-index: 99;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 25%, white 47%, white 74%, rgba(255, 255, 255, 0) 100%)
  }

  #line1 { opacity: 0.08; left: 10%; }
  #line2 { opacity: 0.06; left: 10.5%; }
  #line3 { opacity: 0.07; right: 20%; }
  #line4 { opacity: 0.05; right: 28%; }
  #line5 { opacity: 0.08; right: 28.5%; }
  #line6 { opacity: 0.07; right: 12%; }
  #line7 { opacity: 0.06; left: 46%; }
  #line8 { opacity: 0.07; left: 45%; }
  #line9 { opacity: 0.08; right: 40%; }
  #line10 { opacity: 0.05; right: 40.5%; }
  #line11 { opacity: 0.06; right: 5%; }
  #line12 { opacity: 0.06; left: 6%; }
  #line13 { opacity: 0.05; right: 33%; }
  #line14 { opacity: 0.08; right: 44.5%; }
  #line15 { opacity: 0.07; left: 40%; }
  #line16 { opacity: 0.06; left: 29%; }
  #line17 { opacity: 0.05; right: 50%; }
  #line18 { opacity: 0.07; right: 33%; }

  .line1 { animation: line1 ease-in-out 2.5s infinite; }
  .line2 { animation: line2 ease-in-out 2s infinite; }
  .line3 { animation: line3 ease-in-out 2s infinite; }
  .line4 { animation: line4 ease-in-out 2s infinite; }
  .line5 { animation: line5 ease-in-out 2s infinite; }
  .line6 { animation: line6 ease-in-out 3s infinite; }
  .line7 { animation: line7 ease-in-out 2s infinite; }

}

@keyframes line1 {
  0%, 10%, 100% { opacity: 0.15; }
  1%, 11%, 99% { opacity: 0; }
}

@keyframes line2 {
  31%, 81% { opacity: 0.18; }
  0%, 30%, 32%, 80% , 82%, 100% { opacity: 0; }
}

@keyframes line3 {
  21%, 91% { opacity: 0.18; }
  0%, 20%, 22%, 90%, 92%, 100% { opacity: 0; }
}

@keyframes line4 {
  11%, 51%, 91% { opacity: 0.175; }
  0%, 10%, 12%, 50%, 52%, 90%, 92%, 100% { opacity: 0; }
}

@keyframes line5 {
  1%, 61% { opacity: 0.16; }
  0%, 2%, 60%, 50%, 62%, 100% { opacity: 0; }
}

@keyframes line6 {
  21%, 61%, 71% { opacity: 0.15; }
  0%, 20%, 22%, 60%, 62%, 70%, 72%, 100% { opacity: 0; }
}

@keyframes line7 {
  26%, 85% { opacity: 0.18; }
  0%, 25%, 27%, 84%, 86%, 100% { opacity: 0; }
}