#about {
  position: relative;
  background: url('@presentation/assets/images/destaque-02.jpg') no-repeat center center/cover fixed;
  
  &:before {
    content: '';
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > div {
    position: relative;
    z-index: 2;
    max-width: 940px;
    margin: auto;
  }

  h3 {
    font-size: 2em;
    line-height: 1.5;
  }
}